section(data-background="img/background.png")
  section.align-left
    div.about-info(style="margin-bottom: 50px")
      h4 Rubens Pereira do Nascimento
      a(href="https://twitter.com/rubensnas") @rubensnas
    hr
    div.fragment
      div.about-info(style="margin-bottom: 50px")
        p Pascal
        a(href="http://wsac.com.br/") wSac - Automação Comercial
      hr
      div.about-info(style="margin-top: 45px")
        p Web <3
        a(href="#") SelCorp

