section(data-background-color='#446971')
  div
    p JQuery
    pre
      code.javascript.
        const element = $('#id');
  div.fragment
    p Javascript
    pre
      code.javascript.
        const element = document.getElementById('id');
