section(data-background="img/background.png")
  section.align-left
    div.about-info(style="margin-bottom: 50px")
      h4 Training Center
      a(href="https://trainingcenter.io/") https://trainingcenter.io/
    hr
    ul
      li Mentoria
      li Grupos de Estudos
      li Tirar dúvidas

