section(data-background="img/background.png")
  h2 Dificuldades encontradas
  ul
    li Javascript básico
    li Manipular arrays (map, reduce, every, some, etc)
    li JavaScript Prototype
    li EcmaScript's
