doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/title
        include ../slides/about
        include ../slides/emotion-web
        include ../slides/javascript
        include ../slides/old-site
        include ../slides/jquery
        include ../slides/angular
        include ../slides/emot0ion-web
        include ../slides/frameworks
        include ../slides/hide
        include ../slides/use
        include ../slides/need
        include ../slides/jquery-code
        include ../slides/study
        include ../slides/training-center
        include ../slides/thanks
    include inc/scripts

